<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="/var/www/html/tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
>
    <testsuites>
        <testsuite name="signotecsignosignuniversal">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
    </source>
</phpunit>